<div class="row">
	<div class="small-12 small-centered columns">
		<h1 class="text-center">Login</h1>

		<%= form_for :session, url: login_path do |f| %>
			<p>
				<%= f.label :username %>
				<%= f.text_field :username %>
			</p>

			<p>
				<%= f.label :password %>
				<%= f.password_field :password %>
			</p>

			<p>
				<%= f.submit "Log in", class: "button expand"%>
			</p>
		<% end %>
	</div>
</div>
