<%= form_for @book do |f| %>
	<% if @book.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@book.errors.count, "error") %>
				prohibited this book from being saved:
			</h2>
			<ul>
				<% @book.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<%= f.label :title %>
		<%= f.text_field :title, title: 'The book title.' %>
	</p>

	<p>
		<%= f.label :author %>
		<%= f.text_field :author, title: 'The author\'s name' %>
	</p>

	<p>
		<%= f.label :price %>
		<%= f.text_field :price, title: 'The book\'s price.' %>
	</p>

	<p>
		<%= f.label :publisher %>
		<%= f.text_field :publisher, title: 'The book\'s publisher.' %>
	</p>

	<p>
		<%= f.label :category %>
		<%= f.select :category, options_for_select(
			[['Fiction & Literature', 1],
			 ['Non-fiction', 2],
			  ['Romance', 3],
			   ['Science Fiction', 4],
			    ['History', 5],
			     ['Science and Nature', 6],
			      ['Mystery and Suspense', 7],
			       ['Sports', 8],
			        ['Travel', 9],
			         ['Biography', 10],
			          ['Reference and Language', 11],
			           ['Health and Well Being', 12],
			            ['Business and Finance', 13],
			             ['Kids', 14]],1) %>
	</p>

	<p>
		<%= f.label :isbn %>
		<%= f.text_field :isbn, title: 'The book ISBN.' %>
	</p>

	<p>
		<%= f.label :quantity %>
		<%= f.text_field :quantity, title: 'The quantity of books available.' %>
	</p>

	<p>
		<%= f.label :summary %>
		<%= f.text_area :summary , id: "book_summary", title: 'The book summary.' %>
	</p>

	<p>
		<%= f.submit class: "button expand"%>
	</p>
<% end %>
