`<div class="row">
	<div class="small-12 columns">
		<h1 class="text-center">Add a Book to the Store</h1>

		<!-- Form for adding more books to the store -->
		<%= form_for :book, url: books_path do |b| %>
			<!-- Currently the only thing that will need to be added -->
			<!-- The metadata will be downloaded and stored based on the isbn -->
			<p>
				<%= b.label :isbn %>
				<%= b.text_field :isbn %>
			</p>

			<p>
				<%= b.label :quantity %>
				<%= b.text_field :quantity %>
			</p>

			<p>
				<%= b.submit class: 'button expand' %>
			</p>
		<% end %>
	</div>
</div>