<div class="container">
  <div class='row'>
    <% if !@books.empty? %>
      <h1 class='text-center'>Search Results for: "<%= params[:search] %>"</h1>
    <% else %>
      <h1 class='text-center'>Nothing found for: "<%= params[:search] %>"</h1>
    <% end %>
  </div>

  <div class="row">
    <div class="medium-10 medium-push-4 columns">
      <p>
        <%= will_paginate renderer: FoundationPagination::Rails%>
      </p>
    </div>
  </div>

    <% @books.each do |book| %>
      <div class="row">
        <div class="medium-12 columns">
          <hr>
          <div class="medium-2 columns">
            <%= link_to image_tag("#{book.isbn}.jpg", alt: "#{book.title} Cover",
            class: "search_book_cover"), book_path(book) %>
          </div>

          <div class="medium-10 columns">
            <h3><%= link_to book.title, book_path(book) %></h3>

            <ul class="book_search_info">
              <li>by: <%= link_to book.author, search_path(book.author) %></li>
              <li>Category: <%= link_to book.category, search_path(book.category) %></li>
            </ul>

            <p>
              <%= book.summary %>
            </p>

            <!-- Add to cart button here along with the price of the item -->

          </div>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="medium-10 medium-push-4 columns">
        <p>
          <%= will_paginate renderer: FoundationPagination::Rails %>
        </p>
      </div>
    </div>
  </div>
</div>
