<%= render 'search' %>

  <% if @books.empty? %>
    <h5 class="text-center">Nothing found for "<%= params[:search] %>"</h5>
  <% end %>

  <div class="row pagination">
    <div class="medium-10 medium-push-4 columns">
      <p>
        <%= will_paginate renderer: FoundationPagination::Rails%>
      </p>
    </div>
  </div>

    <% @books.each do |book| %>
      <div class="row">
          <hr>
          <div class="small-11 small-push-1 medium-10 medium-push-2 columns"> 
            <h3><%= link_to book.title, book_path(book), id: 'result_title'%></h3>
          </div>
        <div class="medium-12 columns">

          <div class="small-5 medium-2 columns">
            <%= link_to image_tag("#{book.isbn}.jpg", alt: "#{book.title} Cover",
            class: "search_book_cover"), book_path(book) %>
          </div>
          

          <div class="small-7 medium-10 columns">

            <ul class="book_search_info">
              <li>by <%= link_to book.author, '#' %></li>
              <li><%= link_to book.category, '#' %></li>
            </ul>

            <div class="row">
              <div class="price medium-1 columns">
                $<%= book.price %>
              </div>

              <div class="medium-4 medium-pull-6 columns">
                <%= link_to 'Add to Cart', '#', class: 'button small' %>
              </div>
            </div>

            <div class="book_summary">
              <%= book.summary %>
            </div>

          </div>


        </div>
      </div>
    <% end %>

    <div class="row pagination">
      <div class="medium-10 medium-push-4 columns">
        <p>
          <%= will_paginate renderer: FoundationPagination::Rails %>
        </p>
      </div>
    </div>
  </div>
