<div class="row">
	<div class="small-6 small-centered columns">
		<h1 class="text-center">Show Selected Book</h1>
	</div>

	<div class="small-6 small-centered columns">
		<p>
			<strong>ISBN:</strong>
			<%= @book.isbn %>
		</p>

		<p>
			<strong>Quantity Available:</strong>
			<%= @book.quantity %>
		</p>

		<%= link_to 'Back to all books', books_path %>
		<% if logged_in? %>
			<%= link_to 'Edit Book', edit_book_path(@book) %>
			<%= link_to "Log out", logout_path, method: "delete" %>
		<% end %>
	</div>
</div>